/* FONTS
font-family: 'Satisfy', cursive;
font-family: 'Marcellus SC', serif;
font-family: 'Marcellus', serif; */

/* Universal Styles */

body {
  font-family: "Marcellus", serif;
  text-align: center;
}

h1 {
  font-family: "Marcellus SC", serif;
}

h2 {
  font-family: "Marcellus SC", serif;
  font-size: 40px;
}

/* Bootstrap Overrides */

.jumbotron {
  background-image: url("../images/img-clear-morning.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 50px;
}

.jumbotron h1 {
  font-family: "Satisfy", cursive;
  font-size: 75px;
}

.jumbotron p {
  font-family: "Satisfy", cursive;
  font-size: 40px;
}

.navbar {
  margin-bottom: 0;
}

#showcase {
  margin-top: 50px;
}

/* About Section - Grid System */

.left-col {
  font-size: 52px;
}

.right-col {
  font-size: 24px;
  text-align: left;
}


/* Body Changes */

#writing h3 {
  text-align: left;
  font-weight: bold;
}

#writing p {
  text-align: left;
}

/* Contact - Grid System */

#contact p {
  font-size: 24px;
}
