/* FONTS
font-family: 'Marcellus SC', serif;
font-family: 'Marcellus', serif;
font-family: 'Tangerine', cursive; */

/* Universal Styles */

body {
  font-family: "Marcellus", serif;
  text-align: center;
}

h1 {
  font-family: "Marcellus SC", serif;
}

h2 {
  font-family: "Marcellus SC", serif;
  font-size: 40px;
}

p {
  font-size: 16px;
}

hr {
    display: block;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Bootstrap Overrides */

.jumbotron {
  /*background-image: url("../images/img-clear-morning.jpg");
  background-position: center;
  background-repeat: no-repeat;*/
  color: white;
  margin-top: 50px;
  background-color: #96909A;
}

.jumbotron h1 {
  font-size: 150px;
  font-family: 'Tangerine', cursive;
}

.jumbotron p {
  font-family: 'Marcellus', serif;
  font-size: 50px;
}

.navbar {
  margin-bottom: 0;
}

#showcase {
  margin-top: 50px;
}

/* About Section - Grid System */

.left-col {
  font-size: 52px;
}

.right-col {
  font-size: 24px;
  text-align: left;
}


/* Body Changes */

#writing h3 {
  text-align: left;
  font-weight: bold;
}

#writing p {
  text-align: left;
}

#writing a {
  color: #A88C8C;
  font-weight: bold;
}

/* Contact - Grid System */

#contact p {
  font-size: 24px;
}

#contact a {
  color: #A88C8C;
  font-weight: bold;
}

#copyright p {
  font-size: 13px;
  padding-left: 30px;
  padding-bottom: 15px;
}
