html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

.foreground {
  z-index: 9999;
}

.background {
  z-index: 99;
}

.stripe img {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 5vh 0 0 25vw;
  padding: 0;
  width: 50vw;
  height: 50vh;
}

.round {
  z-index: 9;
  border: 2px solid;
  border-radius: 1000px;
  border-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: -2vh 0 0 -25vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

body {
  background-color: rgba(0, 255, 0, 0.2);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

.ponder {
  font-family: fantasy;
  font-size: 2em
}

@media only screen and (max-width: 760px) {
  .ponder{
  font-size: 1em;
  }
}
