@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.5;
  background-color: #4A4C4A;
  font-weight: 900;
  color: #343434;
}
td {
  vertical-align: top;
  text-align: left;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
}

a {
  color: #343434;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #64745B;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
  font-size: 20px;
  font-weight: 300;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

h1 {
  color: #020202;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 900;
  margin: 0 0 30px 0;
  padding-left: 60px;
  background-color: #7b7b7b;
  width: 40%;
  }
h2 {
  color: #64745B;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 900;
  margin: 0 0 30px 0;
  }
