/*Global*/
* {
  font-family: Helvetica;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
/*Class*/
.title {
  background-image: image("resources\images\pattern.jpg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.price {
  font-weight: bold;
  color: blue;
}
/*ID*/
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
