html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

h1,
h4 {
  font-weight: bold;
}

a {
  color: white;
  transition: 1s;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #6b0f0f;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header & banner*/
.company {
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}
.company img {
  height: 1.5em;
  padding-right: 15px;
}

.main-banner {
  background: url(../images/moto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}
.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

/*navigation*/
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

.mobile-nav {
  display: none;
}

/*store stuff*/
.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}
.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img {
  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

/*footer*/
footer {
  background-color: black;
  color: white;
  font-size: .65em;
  text-align: right;
  padding: 5em 0;
  margin-top: 4em;
}

/*media queries*/
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15em;
  }

  .headline {
    width: 100%;
    padding: 1em 2em;
    top: 10em;
  }

  .headline h4 {
    font-size: .77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .products,
  .business-info {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }

  .info {
    width: 90%;
    margin: 0.5em auto;
  }
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
