* {
  background-color: black;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
}
.title {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
h2 {

}
h3 {

}
p {

}
