html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

/* Header Styling */
header {
  background: url('../images/glasses-bg.png') no-repeat center center ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.truncated-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

.main-banner {
  background-color: white;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

.supporting {
  display: flex;
  justify-content: center;
}


/* Section Styling */
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding: 1rem 0;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

/* Footer Styling */
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  font-size: .5rem;
  font-weight: bold;
}

footer img {
  height: .5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* @media Queries */
@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 22rem;
  }
  nav.container {
    max-width: 100%;
  }
  .main-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .main-banner h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }
  .menu ul.truncated-menu {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  header div span {
    display: none;
  }
  header {
    background-position: 20%;
    height: 17rem;
  }
  .main-banner {
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    width: 100%;
    text-align: center;
  }
  .main-banner h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 560px) {
  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }
}

@media only screen and (max-width: 560px) {
  .info {
    width: auto;
  }

  .info .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .info p {
    padding: 1rem;
    font-size: .77rem;
  }
}

@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
  }

  footer div {
    display: none;
  }
}
