/*Header attributes*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
header nav {
  padding-right: 40px;
}
a {
  color: black;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
p {
  font-family: Georgia;
  font-size: 15px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo p {
  color: MediumAquamarine;
}

/*body attributes*/
body {
  display: block;
  margin: 8px;
}

.content {
  display: flex;
  width: 1240px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.text-content {

}
.quote {
  text-transform: capitalize;
  font-size: 20px;
  font-style: italic;
}
.image-content{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}
.image-content p {
  display: block;
}

/*lead section*/
.column-large {
  width: 630px;
  margin-right: 32px;
}
.lead-story .image-content{
  background-image: url("https://mcclaintech2011.github.io/projects/MyTimes/resources/images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left
}
.fall-cancelled {
  background-image: url("https://mcclaintech2011.github.io/projects/MyTimes/resources/images/img-story-2.png");
  margin-top: 15px;
}
.pop-culture {
  background-image: url("https://mcclaintech2011.github.io/projects/MyTimes/resources/images/img-story-3.png");
  margin-top: 15px;
}

/*middle section*/
.column.medium {
  width: 300px;
}
.cat-ceo {
  background-image: url("https://mcclaintech2011.github.io/projects/MyTimes/resources/images/img-story-1.png");
  margin-top: 15px;
}

/*sidebar section*/
.column.small {
  width: 240px;
}
.news-bites {

}
.cookie {
  width: 240px;
  height: 330px;
}
