html,
body {
  margin: 0px;
  font-family: Garamond, Arial, sans-serif;
  font-size: 15px;
}

h1 {
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 20px;
}

/*Header styling*/
header {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  height: 64px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 45px;
}

#logo h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bolder;
}

#gray {
  color: #b6b6b6;
  font-weight: lighter;
}

/*Navigation styling*/
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-nav {
  color: #fff;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-nav:hover{
  background-color: #b6b6b6;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

#MobileNav {
  display: none;
}

/*Banner styling*/
#banner {
  display: flex;
  background-color: lightgray;
}

#banner img {
  padding-top: 33px;
  height: 60%;
  margin: 32px 24px;
  width: 60%;
}

#banner .RightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-size: 24px;
}

#banner #button {
  color: #fff;
  background-color: gray;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 50px;
  width: 50%;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner #button:hover{
  background-color: #b6b6b6;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
