/* font-family: 'Abril Fatface', cursive; - accent
font-family: 'Lato', sans-serif - main
color: #535353; - main
color: #929292; - accent/hover
color: #D9D9D9; - light font */

html,
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #535353;
  font-size: 15px;
  line-height: 1.5em;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
  padding-bottom: 20px;
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: .1em;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  padding-bottom: 20px;
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: .1em;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  padding-bottom: 20px;
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: .1em;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1em;
  padding-bottom: 20px;
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: .1em;
}

h6 {
  font-size: 1em;
  font-weight: bolder;
  font-style: italic;
}

.button {
  color: #D9D9D9;
  background-color: #535353;
  text-align: center;
  border-radius: 50px;
}

.button:hover {
  color: #D9D9D9;
  background-color: #929292;
  transition: background-color .5s ease-in-out;
}

a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #57B0D7;
  transition: color .5s ease-in-out .1s;
}

/*Header styling*/
header {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  height: 64px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  margin-left: 15px;
}

.logo h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
  padding-top: .5em;
  font-family: 'Lato', sans-serif
}

.gray {
  color: #929292;
  font-weight: 300;
}

/*Navigation styling*/
nav {
  display: flex;
  align-items: center;
}

nav .button {
  padding: 5px 10px;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-nav {
  display: none;
}

/*Banner styling*/
.banner {
  display: flex;
  background-color: #2b8cb6;
}

.banner img {
  padding-top: 33px;
  height: 60%;
  margin: 32px 24px;
  width: 60%;
}

.banner .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  margin-right: 5%;
  font-size: 24px;
}

.banner .button {
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 20%;
  width: 50%;
}

.banner h1,
.banner p {
  color: #D9D9D9;
}

/* info section + dates */
.information {
  display: flex;
}

.row {
  margin-top: 1%;
  margin-bottom: .5%;
  margin-right: 1%;
}

.information .left-side {
  margin: 32px 24px;
  width: 60%;
}

.information .left-side img {
  width: 100%;
  margin-bottom: 3%;
}

.information .right-side {
  width: 40%;
  margin-left: 32px;
  margin-bottom: 1%;
}

.information .right-side .row {
  display: flex;
  border: 1px solid #929292;
}

.information .right-side .row h1,
.information .right-side .row p {
  margin-bottom: 8px;
}

.information .right-side .row img {
  width: 35%;
  height: 100%;
  margin: 16px;
}

.information .right-side .row h1,
.information .right-side .row p {
  width: 100%;
}

.information .right-side .row .mobile-image {
  display: none;
}

.information .right-side #third-row {
  display: flex;
  background-color: #929292;
  color: #D9D9D9;
}

.information .right-side .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 32px 24px;
}

.mobile-header {
  display: none;
}

/* Classes */
.courses {
    background-color: #2b8cb6;
    padding: 0 4rem 2rem 4rem;
}

.courses h1 {
  text-align: center;
  padding: 24px 0px;
  color: #D9D9D9;
}

.courses-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#course-box {
    width: 30%;
    height: auto;
    background-color: white;
    margin: 0 2em 2em 0;
}

#course-box img {
    width: 100%;
    height: auto;
}

#course-desc {
    background-color: white;
    width: 90%;
    padding: 1em 0 1em 1em;
}

#course-desc #course-title {
    font-weight: 500;
    font-size: 1em;
}

#course-desc #course-dummy {
    font-weight: 400;
    line-height: 2;
}

#course-desc #course-info {
    display: inline-block;
    width: 100%;
}

#course-desc #course-info #modules {
    width: 100%;
}

.mobile-courses-wrapper {
  display: none;
}

/* thesis */
.thesis-exhibit h2 {
  font-size: 36px;
  padding: 32px 0;
  text-align: center;
}

.thesis-exhibit .content {
  display: flex;
}

.thesis-exhibit .left-side {
  width: 60%;
  margin-left: 24px;
}

.thesis-exhibit .left-side video {
  width: 100%;
}

.thesis-exhibit .left-side h3 {
  margin-bottom: 8px;
}

.thesis-exhibit .left-side p {
  margin-bottom: 32px;
}

.thesis-exhibit .right-side {
  width: 40%;
  margin-left: 24px;
}

.thesis-exhibit .right-side .row {
  display: flex;
}

.thesis-exhibit .right-side .row .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-exhibit .right-side .row img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis-exhibit .right-side #first-row {
  background-color: #929292;
  color: #D9D9D9;
}

.mobile-video {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-bottom: 32px;
}

footer .copyright p {
  margin-top: 16px;
  margin-left: 24px;
}

footer .terms-privacy {
  margin-top: 16px;
  margin-right: 24px;
}

footer .terms-privacy a {
  color: gray;
  text-decoration: none;
  margin-left: 8px;
}

@media only screen and (max-width: 700px) {
  header {
    justify-content: center;
  }

  .mobile-nav {
    display: flex;
  }

  nav .mobile-nav img {
    height: 45px;
  }

  .logo h1 {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .banner {
    display: block;
  }

  .banner img {
    width: 100%;
    margin: 0;
  }

  .banner h2 {
    margin: 32px 16px;
  }

  .banner p {
    margin-bottom: 24px;
    margin-left: 16px;
  }

  .banner .button {
    width: 90%;
    margin-left: 16px;
    margin-bottom: 32px;
  }

  .information .left-side {
    display: none;
  }

  .information .right-side {
    width: 100%;
    margin: 16px;
  }

  .information .right-side .row {
    display: block;
    border: none;
  }

  .information .right-side .row img {
    width: 95%;
  }

  .information .right-side .row .desktop-image {
    display: none;
  }

  .information .right-side .row .mobile-image {
    display: inline-block;
  }

  .information .right-side #third-row {
    display: block;
    background-color: white;
    color: #535353;
  }

  .information .right-side .details {
    margin-top: 0;
    margin-left: 32px;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .learning {
    background-color: white;
    border: 1px solid lightgray;
  }

  .learning h2 {
    padding: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .courses-wrapper {
    display: none;
  }

  .mobile-courses-wrapper {
    display: block;
  }

  .thesis-exhibit h2 {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .thesis-exhibit .content {
    display: none;
  }

  .mobile-video {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  footer {
    display: block;
    padding: 16px 0;
    border: none;
  }

  footer .terms-privacy {
    display: none;
  }
}
